/* Core Formatting */
html { height: 100%; margin-bottom: 1px; }
body { margin: 0; line-height: 135%; }
form { margin: 0; padding: 0; }
a { text-decoration: none; }
a:hover { text-decoration: underline; }
img{ border: 0; }

/* Backgrounds */
body#main-body-page{ background: #000 url(../images/bg_page_top.png) 0 0 repeat-x; }

div.wrapper{ font-family: Tahoma, Arial, Helvetica, sans-serif; margin: 0 0 30px 0; font-size: 12px; }

div.holder-a{ width: 990px; margin: 70px auto 25px auto; }
div.holder-b{ width: 990px; margin: 0 auto 10px auto; background: url(../images/bg_top_nav.png) 0 0 ;  }
div.holder-c{ width: 968px; margin: 30px auto 0 auto; border: 10px solid #CCC; }
div.holder-d { width: 988px; margin: 0 auto 0 auto; padding: 25px 0 25px 0; background: #333 url(../images/bg_footer.png) 0 0 no-repeat; border-bottom: 10px solid #F00;}

div.box-a {}
div.box-b { height: 36px !important; }
div.box-c{ background: #FFF; padding: 20px; }

table.tabl-a{ width: 990px; }
table.tabl-b{ width: 990px; }
table.tabl-b td{ width: 495px; height: 36px !important; line-height: 36px; }
table.tabl-b td.icon-a{ text-align: left; padding: 0 0 0 15px;}
table.tabl-b td.icon-b{ text-align: right; padding: 0 15px 0 0;}

a.link-a{ background: url(../images/icon_dashboard.png) 0 50% no-repeat; }
a.link-b{ background: url(../images/icon_logout.png) 0 50% no-repeat; }

a.link-a,
a.link-b{ padding: 5px 0 5px 25px; font-family: Arial, Helvetica, sans-serif; font-size: 14px; font-weight: bold; color: #888; text-transform: uppercase; cursor: pointer; text-decoration: none; }

a.link-a:hover,
a.link-b:hover{ color: #FF4500; }


td.cell-left{ width: 190px; border: 1px solid #CCC; background: #F2F2F2; padding: 10px; vertical-align: top; text-align: left; }
td.cell-main{ border: 1px solid #CCC; width: 692px; padding: 10px 20px 10px 20px; vertical-align: top; text-align: left; }

div.user-info-box{ background: #BFBFBF; border-bottom: 5px solid #F00; padding: 5px; }
div.txt-greetings{ color: #555; font-size: 12px; font-weight: bold; font-family: Arial, Helvetica, sans-serif; margin: 0; padding: 0; line-height: 125%;}
div.txt-username{ color: #000; font-size: 12px; font-weight: bold; font-family: Arial, Helvetica, sans-serif; margin: 0; padding: 0; line-height: 125%;}
div.txt-lastlogin{ color: #F00; font-size: 11px; font-weight: bold; font-family: Arial, Helvetica, sans-serif; margin: 5px 0 0 0; }

ul.nav-menu{ margin: 10px 0 0 0; padding: 0; list-style: none; }
ul.nav-menu li{ clear: both; background: #FFF; border: 1px solid #000; height: 27px; margin: 0 0 8px 0; }
div.nav-icon{ float: left; width: 35px !important; }
div.nav-text{ float: right; width: 151px !important; line-height: 27px; }
div.nav-text a{ color: #555; font-weight: bold; font-family: Arial, Helvetica, sans-serif; }
div#accordion{ width: 190px !important; margin: 10px 0 0 0; }

table.tabl-d{ width: 990px; }
td.footer-text{ color: #DDD; font-size: 11px; font-weight: bold; font-family: Arial, Helvetica, sans-serif; margin: 5px 0 0 0; text-align: right; padding: 0 20px 0 0; line-height: 110%; }
ul.sub-nav{ margin: 0; padding: 0; list-style: none; font-size: 11px; }

h3.page-heading{ font-family: Arial, Helvetica, sans-serif; font-size: 22px; font-weight: normal; line-height: 120%; margin: 0 0 20px 0; padding: 0 0 5px 0; color: #EF2929; border-bottom: 1px solid #DFDFDF; text-transform: uppercase; }

ul.dashboard{ margin: 0 0 0 20px; padding: 0; }
ul.dashboard li{ list-style-type: none; display: inline; line-height: 36px; height: 36px; margin: 0 20px 0 0; }
ul.dashboard a{ font-family: Arial, Helvetica, sans-serif; font-size: 14px; font-weight: bold; color: #666; padding: 2px 0 2px 25px; }
ul.dashboard a:hover{ color: #F00; }	
a.icon-dashboard{ background: url(../images/icon_dashboard.png) 0 50% no-repeat; }
a.icon-plans{ background: url(../images/icon_plans.png) 0 50% no-repeat; }
a.icon-legal{ background: url(../images/icon_legal.png) 0 50% no-repeat; }
a.icon-support{ background: url(../images/icon_support.png) 0 50% no-repeat; }
a.icon-logout{ background: url(../images/icon_logout.png) 0 50% no-repeat; }

/*-----------------------------------------*/

.vertical-text {
	transform: rotate(90deg);
	transform-origin: left top 0;
}


table.srstable{ margin: 10px auto 25px auto; width: 80%; }
table.srstable td{ padding: 5px 10px 5px 10px; }

.srscell-head{ font-size: 12px; font-family: Arial, Helvetica, sans-serif; line-height: 15px; padding: 5px; background: #696969; border: 1px dotted #999; text-align: center; color: #FFF; white-space: nowrap; }
.srscell-head-divider{ font-size: 12px; font-family: Arial, Helvetica, sans-serif; line-height: 15px; padding: 5px; background: #EF2929; border: 1px dotted #999; text-align: center; color: #FFF; white-space: nowrap; font-weight: bold; }

.srscell-head-lft{ font-size: 12px; font-family: Arial, Helvetica, sans-serif; line-height: 15px; padding: 5px; background: #696969; border: 1px dotted #999; text-align: left; color: #FFF; white-space: nowrap; }

/*.srscell-head-lft{ font-size: 12px; font-family: Arial, Helvetica, sans-serif; line-height: 15px; padding: 5px; background: #BD688A; border: 1px dotted #999; text-align: left; color: #FFF; white-space: nowrap; }*/


.srscell-head-dashbrd{ font-size: 15px; font-family: Arial, Helvetica, sans-serif; line-height: 15px; padding: 5px; background:#CC3333; border: 1px dotted #999; text-align: left; color: #FFF; white-space: nowrap; }

.srscell-head-dashbrd-body{ font-size: 15px; font-family: Arial, Helvetica, sans-serif; line-height: 15px; padding: 5px; background:#336699; border: 1px dotted #999; text-align: left; color: #FFF; white-space: nowrap; }


.srscell-body{ font-size: 12px; font-family: Arial, Helvetica, sans-serif; line-height: 15px; border: 1px dotted #999; background: #EFEFEF; white-space: nowrap; }


.srscell-body-search{ font-size: 16px; font-family: Arial, Helvetica, sans-serif; line-height: 15px; border: 1px dotted #999; background: #EFEFEF; white-space: nowrap; }

td.srscell-left{ text-align: left; }
td.srscell-right{ text-align: right; }
td.srscell-center{ text-align: center; }

td.box-lft{ text-align: left; }
td.box-rgt{ text-align: right; }
td.box-cen{ text-align: center; }

.srs-btn-action{ border: 0; background: #999; border-bottom: 5px solid #000; width: 75px; padding: 5px 0 5px 0; color: #FFF; font-weight: bold; text-transform: uppercase; font-size: 12px; font-family: Arial, Helvetica, sans-serif; }
.srs-btn-action:hover{ background: #000; border-bottom: 5px solid #999; color: #FFF; }
.srs-btn-submit{ border: 0; background: #444; border-bottom: 5px solid #0F0; width: 75px; padding: 5px 0 5px 0; color: #FFF; font-weight: bold; text-transform: uppercase; font-size: 12px; font-family: Arial, Helvetica, sans-serif; }
.srs-btn-submit:hover{ background: #0F0; border-bottom: 5px solid #444; color: #000; }
.srs-btn-delete{ border: 0; background: #444; border-bottom: 5px solid #F00; width: 75px; padding: 5px 0 5px 0; color: #FFF; font-weight: bold; text-transform: uppercase; font-size: 12px; font-family: Arial, Helvetica, sans-serif; }
.srs-btn-delete:hover{ background: #F00; border-bottom: 5px solid #444; color: #000; }
.srs-btn-reset{ border: 0; background: #444; border-bottom: 5px solid #F00; width: 75px; padding: 5px 0 5px 0; color: #FFF; font-weight: bold; text-transform: uppercase; font-size: 12px; font-family: Arial, Helvetica, sans-serif; }
.srs-btn-reset:hover{ background: #F00; border-bottom: 5px solid #444; color: #000; }

.srs-txt-search{ padding: 2px; border: 2px solid #CCC; background-color:#CC6633; width: 500px !important; }

.srs-txt{ padding: 2px; border: 1px solid #CCC; width: 175px !important; }
.srs-txt-small{ padding: 2px; border: 1px solid #CCC; width: 70px !important; }
.srs-txt-mini{ padding: 2px; border: 1px solid #CCC; width: 120px !important; }

.srs-txt-disabled{ padding: 2px; border: 1px solid #CCC; width: 175px !important; background: #999; color: #FFF; }
.srs-dropdwn{padding: 2px; border: 1px solid #CCC; width: 200px !important; }

.imptext-a-red,.imptext-a-green,.imptext-a-black,.imptext-a-white,
.imptext-b-red,.imptext-b-green,.imptext-b-black,.imptext-b-white,
.imptext-c-red,.imptext-c-green,.imptext-c-black,.imptext-c-white
{font-family: Arial, Helvetica, sans-serif;}

.imptext-a-red{ font-size: 9px; color: #F00; }
.imptext-a-green{ font-size: 9px; color:#6B8E23; }
.imptext-a-black{ font-size: 9px; color: #000; }
.imptext-a-white{ font-size: 9px; color: #FFF; }

.imptext-b-red{ font-size: 12px; color: #F00; }
.imptext-b-green{ font-size: 12px; color: #6B8E23; }
.imptext-b-black{ font-size: 12px; color: #000; }
.imptext-b-white{ font-size: 12px; color: #FFF; }

.imptext-c-red{ font-size: 16px; color: #F00; }
.imptext-c-green{ font-size: 16px; color: #6B8E23; }
.imptext-c-black{ font-size: 16px; color: #000; }
.imptext-c-white{ font-size: 16px; color: #FFF; }



/* FORM INPUT*/
.form-style-2{
	max-width: 100%;
	padding: 20px 12px 10px 20px;
	font: 13px Arial, Helvetica, sans-serif;
}
.form-style-2-heading{
	font-weight: bold;
	font-style: italic;
	border-bottom: 2px solid #ddd;
	margin-bottom: 20px;
	font-size: 15px;
	padding-bottom: 3px;
}
.form-style-2 label{
	display: block;
	margin: 0px 0px 15px 0px;
}
.form-style-2 label > span{
	width: 100px;
	font-weight: bold;
	float: left;
	padding-top: 8px;
	padding-right: 5px;
}
.form-style-2 span.required{
	color:red;
}
.form-style-2 .tel-number-field{
	width: 40px;
	text-align: center;
}
.form-style-2 input.input-field{
	width: 48%;
	
}

.form-style-2 input.input-field, 
.form-style-2 .tel-number-field, 
.form-style-2 .textarea-field, 
 .form-style-2 .select-field{
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	border: 1px solid #C2C2C2;
	box-shadow: 1px 1px 4px #EBEBEB;
	-moz-box-shadow: 1px 1px 4px #EBEBEB;
	-webkit-box-shadow: 1px 1px 4px #EBEBEB;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	padding: 7px;
	outline: none;
}
.form-style-2 .input-field:focus, 
.form-style-2 .tel-number-field:focus, 
.form-style-2 .textarea-field:focus,  
.form-style-2 .select-field:focus{
	border: 1px solid #0C0;
}
.form-style-2 .textarea-field{
	height:100px;
	width: 55%;
}
.form-style-2 input[type=submit],
.form-style-2 input[type=button]{
	border: none;
	padding: 8px 15px 8px 15px;
	background: #FF8500;
	color: #fff;
	box-shadow: 1px 1px 4px #DADADA;
	-moz-box-shadow: 1px 1px 4px #DADADA;
	-webkit-box-shadow: 1px 1px 4px #DADADA;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
}
.form-style-2 input[type=submit]:hover,
.form-style-2 input[type=button]:hover{
	background: #EA7B00;
	color: #fff;
}
/* FORM INPUT END */


/* My portion */
fieldset 
	{  
		/*border: 1px solid #ddd !important;*/
		/*margin: 0;
		xmin-width: 0;*/
		/*padding: 10px;*/       
		/*position: relative;*/
		/*border-radius:4px;
		background-color:#f5f5f5;
		padding-left:10px!important;*/
	}	
	
legend
{
	font-size:14px;
	font-weight:bold;
	margin-bottom: 0px; 
	width: 35%; 
	border: 1px solid #ddd;
	border-radius: 4px;
	/*padding: 5px 5px 5px 10px; 
	background-color: #ffffff;*/
}

		
.input_field_height
{
height:27px;
font-family:Arial, Helvetica, sans-serif bold;
font-size:15px;
color:#000000;
font-weight:600;
}

input:focus {
  background-color: yellow;
}


label {
color:#000000;
font-weight:400;
display: block;
width: 100%;
float: left;
}
<!--label:after { content: ": " }-->

.grid_header_label
{
color:#FFFFFF;
font-weight:300;
}